
<ng-container *ngIf="todoArr.length > 0; else notodo">
<div class="card mt-4">
    <div class="card-body">
        <ul class="list-group">
            <li *ngFor="let todo of todoArr; trackBy : trackById"
            class="list-group-item d-flex justify-content-between"><strong>{{todo.todoItem}}</strong>
            <div>
                <button 
                (click)="onEdit(todo)"
                class="btn btn-primary btn-sm mr-2">Edit</button>
                <button 
                (click)="onRemove(todo.todoId)"
                class="btn btn-danger btn-sm">Remove</button>
             </div>
        </li>
             
        </ul>
       
    </div>
</div>
</ng-container>

<ng-template #notodo>
       <p class="alert alert-danger">
             No Todos !!!
       </p>
    </ng-template>


