

<div class="card mt-4">
    <div class="card-body">
        <form #todoForm="ngForm" (ngSubmit)="onTodoAdd()">
            <div class="form-group">
            <label for="todoItem">TodoItem</label>
            <input  
            ngModel
            name="todoItem"
            #todoItem type="text" class="form-control" id="todoItem">
        </div>
        <button 
        *ngIf="!isInEditMode"
        class="btn btn-block btn-primary">Add Todo</button>
         <button type="button"
         (click)="onTodoUpdate()"
         *ngIf="isInEditMode"
         class="btn btn-block btn-primary">Update Todo</button>
    
        </form>
</div>
